@media print {
	body, section {
		color: #342;
		font-family: sans-serif;
	}
	h1, h2 {
		text-align: center;
	}
	ul {
		list-style: none;
	}
	img, button, footer {
		display: none;
	}
	#google_translate_element {
		display: none !important;
	}
	a {
		text-decoration: none;
	}
	a[href^='https']:after {
		content: " (" attr(href) ")";
	}

}