iframe[id*='container'] {
	display: none !important;
}

body {
	top: 0px !important;
	background: #fff;
}

#google_translate_element {
		display: none;
}
@media (min-width: 768px) {
	#google_translate_element {
		display: block;
	}
}