<div class="card text-light shadow" style="background-color: #191919; cursor: pointer" onclick="location.href = '{{ include.href | relative_url }}'">
  <div class="card-header text-center p-0">
    <img src="{{ include.img | relative_url }}" alt="image" class="card-img-top" style="object-fit: scale-down;"
      height="210">
  </div>
  <div class="card-body">
    <h5 class="card-title text-warning text-center">
      {{ include.title }}
    </h5>
    <p class="card-text">
      {{ include.text }}
    </p>
  </div>
  <div class="card-footer text-center">
    {% include date_es.html date=include.date time-attributes='class="post-date"' %}
  </div>
</div>