<style scoped>
.calendar {
  margin: 20px auto 30px auto;
  width: 180px;
  height: 140px;
  text-align: center;
  background: #fff;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  color: #000;
  box-shadow: 3px 4px 1px #ABABAB,
      4px 3px 1px #ABABAB;
}
.year {
  text-transform: uppercase;
  font-size: 19px;
  padding: 4px;
  background: #b00;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.month {
  text-transform: uppercase;
  font-size: 25px;
}
.day {
  font-size: 50px;
  font-weight: bold;
}
</style>
<div class="calendar">
<div class="year">{{ include.date | date: '%Y' }}</div>
<div class="month">
  {% assign m = include.date | date: '%-m' %}
  {% case m %}
  {% when '1' %}enero
  {% when '2' %}febrero
  {% when '3' %}marzo
  {% when '4' %}abril
  {% when '5' %}mayo
  {% when '6' %}junio
  {% when '7' %}julio
  {% when '8' %}agosto
  {% when '9' %}septiembre
  {% when '10' %}octubre
  {% when '11' %}noviembre
  {% when '12' %}diciembre
  {% endcase %}
</div>
<div class="day">
  {{ include.date | date: '%-d' }}
</div>
</div>
