<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

{% include mathjax.html  %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
   securityLevel: 'loose',
   startOnLoad: false
 });
  let aux = 0;
  await mermaid.run({
   suppressErrors: true,
   querySelector: '.mermaid',
   postRenderCallback: (id) => {
    const container = document.querySelector(".visually-hidden")
    container.classList.remove("visually-hidden");
    let spinners = document.querySelectorAll('.lds-spinner');
    spinners[aux].style.display = 'none';
    aux++;
  }
});
</script>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style>
  svg.mermaid{
   max-width: 100%
 }
 svg.mermaid:hover{max-width: none}
 marker { fill: #f2f5a6 !important }
 .flowchartTitleText {
   fill: #f8d040 !important;
   text-transform: uppercase;
   stroke:#000; stroke-width:0.5em;
   paint-order:stroke;
   stroke-linejoin:round;
 }
</style>
