// Ordered Lists
ol, ul {
	margin: 20px 0;
	ol, ul {
		margin: 1rem 0;
	}
	li {
		margin: 0.8rem 0;
	}
	strong {
		font-weight: normal;
		color: rgb(165, 165, 127);
	}
}

ul.section-toc {
	margin: 0;
	list-style: square;
	ul {
		margin: 0;
		list-style: inside;
	}
}
