// Ordered Lists
ol, ul {
	margin: 20px 0;
	li {
		margin: 5px 0;
	}
}

ul.section-toc {
	margin: 0;
	list-style: square;
	ul {
		margin: 0;
		list-style: inside;
	}
}


@media (min-width: 992px) {
	ol, ul {
		font-size: 19px;
	}
}