@media print {
	@page {
		size: A4 portrait; // landscape (horizontal)
	}
	body {
		padding: 0 !important;
		margin: 0 !important;
		color: #000;
	}
	.tree {
		margin: 0 !important;
		box-shadow: 0 !important;
	}
	.ftree {
		box-shadow: 0 !important;
	}

	ul.ftree li::before {
		color: #333;
		font-weight: 900;
		background: red;
	}

	#hero,
	#content,
	#hero p {
		padding: 0 !important;
		margin: 0 !important;
	}

	h1 {
		margin-bottom: 0;
	}

	h2 {
		font-size: 2rem !important;
		font-weight: 900 !important;
	}

	p, a, p a {
		font-size: 1.2rem !important;
	}

	a {
		color: #000;
		text-decoration: none;
	}

	a[href^='https']:after {
		color: rgb(17, 128, 179);
		content: " ( " attr(href) " ) "; /* mostramos la url del enlace */
		font-size: 1.2rem;
		vertical-align: middle;
	}

	blockquote {
		&[class^='prompt-'] {
			color: #000;
			box-shadow: none;
			border: 1px solid #ddd;
			border-radius: 8px;
		}

		&[class='prompt-success']::before{
			content: "💡" !important;
		}
	}
	.no-printer {
		display: none;
	}
	.group-btn-post, .code-header,
	.fa-magnifying-glass {
		display: none !important;
	}
	.copy-code-button {
		display: none;
	}
	h1, h2, h3 {
		color: #191919 !important;
		text-shadow: none !important;
		-webkit-text-stroke-width: 0 !important;
		-webkit-text-stroke-color: 0;
	}
	.highlight {
		box-shadow: none !important;
	}
	.node {
		fill: #ff0 !important;
	}
	svg[id^="mermaid"] .default>* {
		min-width: 60%;
		fill: #ff0 !important;
		color: #000 !important;
		stroke: #000 !important;
	}
	iframe {
		display: none;
	}
	ol li::marker {
		color: #333;
	}
	/* HIDDEN */
	.navbar {
		display: none;
	}

}