.tab {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.tab > * {
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
}

.tab > .active > a {
    color: #ffbb33;
    border-bottom: 2px solid #ffbb44;
    position: relative;
}

.tab > li > a {
    text-decoration: none;
    cursor: pointer;
}

.tab-content {
    padding: 0;
}

.tab-content > li {
    display: none;
    padding: 10px 5px 0 5px;
}
.tab-content > li.active {
}

