---
layout: default
---
<!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline; padding: 10px; margin: 5px;}
  .selected{ background-color: #191919AA; }
</style>

<div class="container">
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.first_page %}
    <li class="previous">
      <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">Inicio</a>
    </li>
    {% endif %}

    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Posts nuevos</a>
    </li>
    {% endif %}

    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="selected"{% endif %}>
      <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Posts antiguos &rarr;</a>
    </li>
    {% endif %}

    {% if paginator.last_page %}
    <li class="previous">
      <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Último</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  {% for post in paginator.posts %}
  <article class="card mb-3 shadow" style="background: #222; border: 1px solid #444; border-radius: 14px">
    <a href="{{ post.url | relative_url }}">
      <div class="row g-0 rounded" style="overflow: hidden;">
       <div class="col-12 col-md-4 d-flex justify-content-center align-items-center p-2 img_preview">
        <img src="{{ post.thumbnail | relative_url }}" alt="thumbnail" class="img-fluid">
      </div>
      <div class="col-12 col-md-8">
        <div class="card-body">
         <h3 class="card-title p-0 m-0 mb-3">{{ post.title }}</h3>
         <p class="card-text text-gray4">{{ post.content | strip_html | truncatewords: 35 }}</p>
       </div>
     </div>
   </div>
 </a>
</article>
{% endfor %}
</div>