---
layout: default
---
<style>
  h2 {
    color: #ffbb33ff;
    margin-bottom: 25px;
    font-weight: bolder;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #000;
    text-shadow: 1px 1px 2px #000, 0 0 8px #000, 0 0 0.2em #000;
  }
  h3 {
    color: #40a0e2df;
    margin-bottom: 20px;
  }
  strong {
    color: #40a0e2ff;
  }
  body {
    background-color: #666;
  }
</style>

<!-- Page Header -->

<div class="container-fluid">
  <div class="mb-4 d-flex justify-content-between">
    {% if page.previous.url %}
    <a class="btn btn-primary" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
      data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.previous.title }}">&larr; Anterior<span
        class="d-none d-md-inline">
        Post</span></a>
    {% endif %}
    <a class="btn btn-primary" href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">Home</a>
    {% if page.next.url %}
    <a class="btn btn-primary" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
      data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.next.title }}">Siguiente<span class="d-none d-md-inline">
        Post</span> &rarr;</a>
    {% endif %}
    </div>
    {{ content }}
</div>